---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* Hide author sidebar profile only, not the TOC sidebar */
.author__avatar,
.author__content,
.author__urls-wrapper {
  display: none !important;
}

.archive,
.page__related {
  @include breakpoint($large) {
    width: 100%;
    padding-right: 0;
  }

  @include breakpoint($x-large) {
    width: 100%;
    padding-right: 0;
  }
}

/* Make main content match header width */
article.page {
    float: left;
    width: 100%;
}

archive {
    float: left;
    width: 100%;
}

/* Hide pagination if needed */
.pagination {
  display: none;
}